*.Rhistory
rowery/.Rproj.user/8214B838/pcs/files-pane.pper
*.pper
rowery/.Rproj.user/8214B838/rmd-outputs
rowery/.Rproj.user/shared/notebooks/paths
rowery/.Rproj.user/8214B838/sdb/prop/INDEX
rowery/.Rproj.user/8214B838/sdb/prop/5E89285E
*.RData
rowery/.Rproj.user/8214B838/saved_source_markers
rowery/.Rproj.user/8214B838/sdb/per/t/3C777DA1
rowery/.Rproj.user/8214B838/sdb/per/t/FB77889D
rowery/.Rproj.user/8214B838/session-persistent-state
*.RData
rowery/.Rproj.user/8214B838/sdb/per/t/98BE5DB1
rowery/.Rproj.user/8214B838/sdb/prop/5111718B
rowery/.Rproj.user/8214B838/sdb/per/t/DB9FD608
rowery/.RData